.divider-groups {
box-shadow:0 0 7px #a84f4f;
transition: 0.2s;
}

.divider-groups:hover {

box-shadow:0 0 7px #f9f9f9 !important;
}

@media only screen and (max-width: 600px) {
.grid-cols-2 {
grid-template-columns: 0 !important;
}
}

.back_52, .back_51, .back_19, .back_62 {
border-right: 1px solid #1e1e1e9e;
}

/*.hide_48, .hide_41, .hide_47 {
display:none !important;
}*/

.section_position {
    position: relative;
}

.section_1::before {
 content: "";
 background-image: url(https://cdn-icons-png.flaticon.com/512/4620/4620137.png);
 background-size: cover;
 background-repeat: no-repeat;
 width: 200px;
 height: 155px;
 position: absolute;
 bottom: 0;
 right: 0;
 filter: invert(1) grayscale(100%);
 opacity: 0.02;

}

.section_11::before {
 content: "";
 background-image: url(https://cdn-icons-png.flaticon.com/512/3114/3114735.png);
 background-size: cover;
 background-repeat: no-repeat;
 width: 200px;
 height: 140px;
 position: absolute;
 bottom: 0;
 right: 0;
 filter: invert(1) grayscale(100%);
 opacity: 0.02;

}

.section_18::before {
 content: "";
 background-image: url(https://cdn-icons-png.flaticon.com/512/14675/14675880.png);
 background-size: cover;
 background-repeat: no-repeat;
 width: 200px;
 height: 150px;
 position: absolute;
 bottom: 0;
 right: 0;
 filter: invert(1) grayscale(100%);
 opacity: 0.02;

}
.section_177::before {
 content: "";
 background-image: url(https://cdn-icons-png.flaticon.com/512/12768/12768832.png);
 background-size: cover;
 background-repeat: no-repeat;
 width: 200px;
 height: 160px;
 position: absolute;
 bottom: 0;
 right: 0;
 filter: invert(1) grayscale(100%);
 opacity: 0.02;

}

.section_186::before {
 content: "";
 background-image: url(https://cdn-icons-png.flaticon.com/512/33/33308.png);
 background-size: cover;
 background-repeat: no-repeat;
 width: 200px;
 height: 145px;
 position: absolute;
 bottom: 0;
 right: 0;
 filter: invert(1) grayscale(100%);
 opacity: 0.02;

}

.section_40::before {
 content: "";
 background-image: url(https://cdn-icons-png.flaticon.com/512/15339/15339241.png);
 background-size: cover;
 background-repeat: no-repeat;
 width: 200px;
 height: 160px;
 position: absolute;
 bottom: 0;
 right: 0;
 filter: invert(1) grayscale(100%);
 opacity: 0.02;

}


.kz-service-badge {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: .5rem;
 padding: 4px 8px;
 border-radius: 3px;
 overflow: hidden;
 cursor: pointer;
 margin-bottom: 10px;
background:#202020;
}

.kz-service-badge-icon-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.kz-service-badge-icon-wrap .kz-service-badge-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kz-service-badge-icon-wrap .kz-service-badge-icon :first-child {
    position: absolute;
    transform: rotateY(0);
    transition: all .5s ease;
    filter: drop-shadow(0 0 0);
}

.kz-service-badge-icon-wrap .kz-service-badge-icon :last-child {
    position: absolute;
    transition: all .75s ease;
}

.kz-service-badge-icon-wrap .service-duration {
 font-size: 13px;
 line-height: 16px;
 font-weight: 700;
 color: #fff;
 text-shadow: 0px 0px 3px #000;
 margin-right: 1px;
}

.kz-service-badge .service-badge-text {
    font-size: 11px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
margin-left:8px;
color:#fff;
}


.d-flex {
 display: flex !important;
}

.mt-4,
.my-4 {
 margin-top:1.5rem!important;
margin-bottom: 1.5rem;
}


.col-sm-6 {
 flex: 0 0 50%;
 max-width: 48%;
}

.row {
 display:flex;
 flex-wrap:wrap;
 margin-right:-15px;
 margin-left:-15px;
}
.no-gutters {
 margin-right:0;
 margin-left:0
}
.no-gutters>.col,
.no-gutters>[class*=col-] {
 padding-right:0;
 padding-left:0
}

.form-group .form-control {
 border:1px solid #464646;
 background-color:#242424;
 color:#bdbdbd;
 border-radius:5px;
 padding:10px;
 transition:all .15s ease-in;
 font-weight:300;
 width:100%;
 min-height:42px
}

.no-gutters {
 margin-right:0;
 margin-left:0
}

.row {
display: flex;
flex-wrap: wrap;
}

.bg-topography {
background: url(/stabilizer/svg/fine-bg.svg);
}

.bg-container-offset {
background-color: #191919 !important;
}

.pl-5, .px-5 {
padding-left: 3rem !important;
}

.pr-5, .px-5 {
padding-right: 3rem !important;
}

.pb-4, .py-4 {
padding-bottom: 1.5rem !important;
}

.d-md-block {
display: block !important;
}
.d-none {
display: none;
}

.rounded-left {
border-top-left-radius: 5px !important
}

.rounded-bottom, .rounded-left {
border-bottom-left-radius: 5px !important
}

.col-md-6 {
flex: 0 0 50%;
max-width: 50%;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
position: relative;
width: 100%;
}

.justify-content-center {
justify-content: center !important;
}

.flex-column {
flex-direction: column !important;
}

.text-white {
color: #fff !important;
}

.font-weight-bold {
font-weight: 700 !important;
}

.mb-5, my-5 {
margin-bottom: 3rem !important;
}

.font-md {
font-size: 16px !important;
}

.mb-3, .my-3 {
margin-bottom: 1rem !important;
}

.leading {
line-height: 2;
}

.bg-container {
background-color: #191919 !important;
}

.pl-5, px-5 {
padding-left: 3rem !important
}
  