/*.rep_404, .usertitle_404 {
    font-weight: 800;
    color: #89cff0;
}

.rep_121924, .usertitle_121924 {
    font-weight: 800;
    color: #3d82d9;
}

.rep_9999, .usertitle_9999 {
    font-weight: 800;
    color: #70d7ea;
}

.user-service-uid_1 {
-webkit-animation: title_gid_3 8s infinite !important;
    -ms-animation: title_gid_3 8s infinite !important;
    animation: title_gid_3 8s infinite !important;
}

.rep_319654, .usertitle_319654 {
    font-weight: 800;
    color: #9b0000;
}

.rep_596724, .usertitle_596724 {
    font-weight: 800;
    color: #000;
}

.rep_366598, .usertitle_366598 {
    font-weight: 800;
    color: #fff;
}

.rep_464987, .usertitle_464987 {
    font-weight: 800;
    color: #fff;
}

.rep_131328, .usertitle_131328 {
    font-weight: 800;
    color: #fff;
}

.rep_16, .usertitle_16 {
    font-weight: 800;
    color: #8B0000;
}


.rep_7777, .usertitle_7777 {
    font-weight: 800;
    color: #fff;
}

.rep_470665, .usertitle_470665 {
    font-weight: 800;
    color: #fff;
}


.rep_341582, .usertitle_341582 {
    font-weight: 800;
    color: #fff;
}

.rep_131102, .usertitle_131102 {
    font-weight: 800;
    color: #76d6f0;
}

.rep_2000, .usertitle_2000 {
    font-weight: 800;
    color: #F7CAC9;
}

.rep_188147, .usertitle_188147 {
    font-weight: 800;
    color: #b747ff;
}

.rep_35, .usertitle_35 {
    font-weight: 800;
    color: #fff;
}

.rep_219315, .usertitle_219315 {
    font-weight: 800;
    color: #3f9fff;
}

.rep_196791, .usertitle_196791 {
    font-weight: 800;
    color: #ff4d94;
}

.rep_77380, .usertitle_77380 {
    font-weight: 800;
    color: #5EFFDC;
}

.usertitle_515677, .rep_515677 {
    font-weight: 800;
    color: #446d5d;
}

.usertitle_278620, .rep_278620 {
    font-weight: 800;
    color: #034bd9;
}

.usertitle_199858, .rep_199858 {
    font-weight: 800;
    color: #b3a4f8;
}

.usertitle_111, .rep_111 {
    font-weight: 800;
    color: #d31c3b;
}

.usertitle_295331, .rep_295331 {
    font-weight: 800;
    color: #e4e2e1;
}

.usertitle_34204, .rep_34204 {
    font-weight: 800;
    color: #e4e2e1;
}

.usertitle_55737, .rep_55737 {
    font-weight: 800;
    color: #e4e2e1;
}

.usertitle_7, .rep_7 {
    font-weight: 800;
    color: #3d82d9;
}

.usertitle_183029, .rep_183029 {
    font-weight: 800;
    color: #dc85e4;
}


.rep_53933, .usertitle_53933 {
    font-weight: 800;
 color: #ff00d0;
}

.rep_22, .usertitle_22 {
    font-weight: 800;
 color: #e4e2e1;
}

.rep_6854, .usertitle_6854 {
    font-weight: 800;
 color: #FF66C0;
}

.rep_436298, .usertitle_436298 {
    font-weight: 800;
 color: #5fdec4;
}

.rep_188147, .usertitle_188147 {
    font-weight: 800;
 color: #FEFEFE;
}



.rep_99999, .usertitle_99999 {
    font-weight: 800;
    color: #5EFFDC;
}

.rep_243027, .usertitle_243027 {
    font-weight: 800;
    color: #fff;
}

.rep_2222, .usertitle_2222 {
    font-weight: 800;
    color: #ffffff;
}

.rep_12645, .usertitle_12645 {
    font-weight: 800;
    color: #cd83fb;
}

.rep_36, .usertitle_36 {
    font-weight: 800;
    color: #76cff9;
}

.rep_976, .usertitle_976 {
    font-weight: 800;
 color: #2774D5;
}

.rep_373822, .usertitle_373822 {
    font-weight: 800;
 color: #000000;
}

.rep_165928, .usertitle_165928 {
    font-weight: 800;
    color: #e4e2e1;
}

.rep_11, .usertitle_11 {
    font-weight: 800;
    color: #e4e2e1;
}

.rep_361792, .usertitle_361792 {
    font-weight: 800;
    color: #bb3ab7;
}



.rep_74642, .usertitle_74642 {
    font-weight: 800;
    color: #e4e2e1;
}

.rep_390712, .usertitle_390712 {
    font-weight: 800;
    color: #0072ff;
}

.rep_3887, .usertitle_3887 {
    font-weight: 800;
    -webkit-animation: title_gid_3 5s infinite;
    -ms-animation: title_gid_3 5s infinite;
    animation: title_gid_3 5s infinite;
}

.rep_454843, .usertitle_454843 {
    font-weight: 800;
    color: white;
}

.rep_12 {
    font-weight: 800;
    color: #e4e2e1;
}

.rep_99, .usertitle_99 {
    font-weight: 800;
    color: red;
}

.rep_229566, .usertitle_229566 {
    font-weight: 800;
    color: orange;
}

.rep_21, .usertitle_21 {
    font-weight: 800;
    color: #3d82d9;
}
 

.rep_506330, .usertitle_506330 {
    font-weight: 800;
    color: #fafafa;
}*/